#validateBtn {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.btn--extract {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
    color: white;
    background-color: #002542;
    border: 1px solid #00b1ea;
    width: 30%;
    padding: 15px;
}


.btn--primary {
    color: white;
    background-color: #002542;
    border: 1px solid #00b1ea;
    padding: 15px;
}